SET NOCOUNT ON
GO

--
-- Definition for table DBClientes :
--

CREATE TABLE dbo.DBClientes (
  IDCliente int IDENTITY(1, 1) NOT NULL,
  TipoPessoa varchar(8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Cpf_Cnpj varchar(14) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Nome_RazaoSocial varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Endereco varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Numero varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Bairro varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Municipio varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  UF varchar(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Cep varchar(8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Contato varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Fone_1 varchar(11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Fone_2 varchar(11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Email varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DataCadastro datetime DEFAULT getdate() NOT NULL,
  PRIMARY KEY CLUSTERED (IDCliente)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
  UNIQUE (Cpf_Cnpj)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
ON [PRIMARY]
GO

--
-- Definition for table DBFornecedores :
--

CREATE TABLE dbo.DBFornecedores (
  IDFornecedor int IDENTITY(1, 1) NOT NULL,
  TipoPessoa varchar(8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Cpf_Cnpj varchar(14) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Nome_RazaoSocial varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Endereco varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Numero varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Bairro varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Municipio varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  UF varchar(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Cep varchar(8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Contato varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Fone_1 varchar(11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Fone_2 varchar(11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Email varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DataCadastro datetime DEFAULT getdate() NOT NULL,
  PRIMARY KEY CLUSTERED (IDFornecedor)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
  UNIQUE (Cpf_Cnpj)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
ON [PRIMARY]
GO

--
-- Definition for table DBMarcas :
--

CREATE TABLE dbo.DBMarcas (
  IDMarca int IDENTITY(1, 1) NOT NULL,
  Descricao varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PRIMARY KEY CLUSTERED (IDMarca)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
ON [PRIMARY]
GO

--
-- Definition for table DBModelos :
--

CREATE TABLE dbo.DBModelos (
  IDModelo int IDENTITY(1, 1) NOT NULL,
  IDMarca int NOT NULL,
  Descricao varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PRIMARY KEY CLUSTERED (IDModelo)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
ON [PRIMARY]
GO

--
-- Definition for table DBProdutos :
--

CREATE TABLE dbo.DBProdutos (
  IDProduto int IDENTITY(1, 1) NOT NULL,
  IDProdutoInterno varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  IDProdutoFabricante varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Descricao varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  IDFornecedor int NULL,
  IDMarca int NULL,
  IDModelo int NULL,
  IDUnidade int NULL,
  PrecoCompra decimal(10, 2) NULL,
  PrecoVenda decimal(10, 2) NULL,
  EstoqueAtual decimal(10, 4) NULL,
  EstoqueMinimo decimal(10, 4) NULL,
  DataUltimaCompra datetime NULL,
  Garantia varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Imagem varbinary(max) NULL,
  PRIMARY KEY CLUSTERED (IDProduto)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
  UNIQUE (IDProdutoInterno)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON),
  UNIQUE (IDProdutoFabricante)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
ON [PRIMARY]
GO

--
-- Definition for table DBUnidades :
--

CREATE TABLE dbo.DBUnidades (
  IDUnidade int IDENTITY(1, 1) NOT NULL,
  Descricao varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PRIMARY KEY CLUSTERED (IDUnidade)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
ON [PRIMARY]
GO

--
-- Definition for table DBUsuarios :
--

CREATE TABLE dbo.DBUsuarios (
  IDUsuario int IDENTITY(1, 1) NOT NULL,
  Nome varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Login varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Senha varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Endereco varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Numero varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Bairro varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Municipio varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  UF varchar(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Cep varchar(8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Fone_1 varchar(11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Fone_2 varchar(11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Email varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DataCadastro datetime DEFAULT getdate() NOT NULL,
  PRIMARY KEY CLUSTERED (IDUsuario)
    WITH (
      PAD_INDEX = OFF, IGNORE_DUP_KEY = OFF, STATISTICS_NORECOMPUTE = OFF,
      ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
ON [PRIMARY]
GO

